/.idea/workspace.xml
/.idea/vcs.xml
/.idea/semestrovka-Slapppy.iml
/CourseSell20/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/CourseSell20/.idea/inspectionProfiles/profiles_settings.xml
/CourseSell20/.idea/modules.xml
/.idea/modules.xml
/CourseSell20/.idea/misc.xml
/.idea/misc.xml
/CourseSell20/.idea/jsLibraryMappings.xml
/CourseSell20/.idea/dataSources.xml
/CourseSell20/.idea/CourseSell20.iml
